/* Styles for formatting knitr and code blocks (classes from highlight.R) */

.pageView .knitr {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace; 
  font-size: 1em; 
  font-size: 14px;
}

.pageView .plot {
  margin: 1px auto 0 auto;
  display: block;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 6px;
}

/* Style from knitr themes bclear */
.pageView .number{
  color: #1094a0 ;
}
.pageView .functioncall{
  font-weight: 'bolder' ;
  color: #00a150 ;
}
.pageView .string{
  color: #1094a0 ;
}
.pageView .keyword{
  font-weight: bolder ;
  color: #3b6ac8;
}
.pageView .argument{
  color: #323232 ;
}
.pageView .comment{
  color: #969696 ;
}
.pageView .roxygencomment{
  color: #969696;
}
.pageView .formalargs{
  color: #323232;
}
.pageView .eqformalargs{
  color: #323232;
}
.pageView .assignement{
  color: #323232;
}
.pageView .package{
  font-weight: bolder;
  color: #a00050;
}
.pageView .slot{
  font-style:italic;
  color: #323232;
}
.pageView .symbol{
  color: #323232 ;
}
.pageView .prompt{
  color: #323232 ;
}


/* Style from knitr themes zenburn.css */
#reveal .knitr {
  background-color: #1f1f1f;
  border: 0px solid #CCC;
  border-radius: 2px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  padding: 6px 10px;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace; 
  font-size: 1em; 
  font-size: 16px;
}

#reveal .output {
  font-size: 14px;
}

#reveal .number{
  color: #dca3a3 ;
}
#reveal .functioncall{
  font-weight: 'bolder' ;
  color: #aae3b2 ;
}
#reveal .string{
  color: #cc9393 ;
}
#reveal .keyword{
  font-weight: bolder ;
  color: #e3ceab;
}
#revealargument{
  color: #dcdccc ;
}
#revealcomment{
  color: #7f9f7f ;
}
#revealroxygencomment{
  color: #7f9f7f;
}
#revealformalargs{
  color: #dcdccc;
}
#revealeqformalargs{
  color: #dcdccc;
}
#revealassignement{
  color: #dcdccc;
}
#revealpackage{
  font-weight: bolder;
  color: #dfdfbf;
}
#revealslot{
  font-style:italic;
  color: #dcdccc;
}
#revealsymbol{
  color: #dcdccc ;
}
#revealprompt{
  color: #dcdccc ;
}

