/* Base screen styles for our pages */
html {
    padding: 30px 10px;
    line-height: 1.4;
    background: #f0f0f0;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Styles for our center content (rendered to html from courser sources) */
.pageView {

  max-width: 750px;
  _width: 750px;
  padding: 30px 65px 50px;
  margin: 0 auto;

  background: #fcfcfc;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;

}

.pageView a {
    color: #4B7DC8;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}

.pageView a:visited { 
    color: #4B7DC8; 
}

.pageView a:hover {
    color: #4B7DC8;
    text-decoration: underline;
}

.pageView h1 {
    border-bottom: 1px solid #CCC
}

.pageView section h1 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 21px;
  margin-top: 21px;
}

.pageView img {
  margin: 1px auto 0 auto;
  display: block;
  max-width: 625px;
  max-height: 480px;
}

.pageView table {
  margin: 1px auto 0 auto;
  color: white;
}

.pageView thead {
  background-color: #1F1F1F;
  border: 3px solid #1F1F1F;
  border-radius: 3px;
}

.pageView th {
  padding: 5px;
}

.pageView tbody {
  background-color: #414141;
  border: 3px solid #1F1F1F;
  border-radius: 3px;
}

.pageView iframe {
  margin: 1px auto 0 auto;
  display: block;
  max-width: 625px;
  border: 3px solid #646464;
  border-radius: 3px;
}

#nav-buttons {

  float: right;
  margin-top: -7.5px;
  
}

.pageButton {

  background-color: #FCFCFC;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  color: #A2A2A2;
  min-width: 95px;
  margin-left: 6px;
  padding: 5px 8px 5px 8px;
  font-size: 12px;

}

.pageButton:hover {
  
  border: 1px solid #C6C6C6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #6B6B6B;

  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(top, #fcfcfc, #f0f0f0);

}

.fadeyThing:hover {

  opacity: 1;

  -webkit-transition: opacity .1s ease;
	   -moz-transition: opacity .1s ease;
	    -ms-transition: opacity .1s ease;
	     -o-transition: opacity .1s ease;
	        transition: opacity .1s ease;

}

.fadeOut {

  opacity: 0;

  -webkit-transition: opacity 1s ease;
     -moz-transition: opacity 1s ease;
	    -ms-transition: opacity 1s ease;
	     -o-transition: opacity 1s ease;
	        transition: opacity 1s ease;

}


/* Adjustments for small screen sizes (TODO: this could use much more nuance) */
@media only screen and (max-width: 480px) {
    html {
        line-height: 1.4;
        background: #fcfcfc;
    }

    img {
      max-width: 280px;
    }

    .pageView {
      padding: 0px 0px 0px;
      border: 0px;
      border-radius: 0px;
      margin: 0 auto;
      box-shadow: none;
    }

    #nav-buttons {
      margin-top: -40px;
    }

    .pageButton {
        margin-bottom: 1px;
    }

}

